@using DataAccessLayer.Concrete

@{
    Layout = null;
    var username = User.Identity.Name;
    ViewBag.v = username;
    Context c = new Context();
    var name = c.Advertisers.Where(x => x.AdvertiserMail == username).Select(y => y.AdvertiserName).FirstOrDefault();
    ViewBag.v2 = name;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Heryer Emlak</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/statics/logo1.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:~/admin/partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" style="text-align: center; width:50px;" href="#"><img src="~/statics/logo1.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="#"><img src="~/statics/logo1.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="d-flex align-items-center justify-content-center" style="margin-left: 20px;">
                    <a href="/Advertiser/AdvertiserEditProfile" style="color: #dec72b;">
                        <h5 style="margin: 0;">@ViewBag.v2</h5>
                    </a>
                </div>
          @* <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Aranacak Kelimeyi Giriniz...">
              </div>
            </form>
          </div> *@
          <ul class="navbar-nav navbar-nav-right">
                    <div class="d-flex align-items-center justify-content-center" style="margin-left: 20px;">
                        <h5 style="margin: 0;">@ViewBag.v</h5>
                    </div>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count-symbol bg-warning"></span>
                        </a>
                        @await Component.InvokeAsync("AdvertiserMessageNotification")

                    </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            @* <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
                        @await Component.InvokeAsync("AdvertiserNotification")

                    </li> *@
            <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="/Login/LogOut">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:~/admin/partials/_sidebar.html -->
        @await Html.PartialAsync("~/Views/Advertiser/AdvertiserNavbarPartial.cshtml")
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            @RenderBody()
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:~/admin/partials/_footer.html -->
                @await Html.PartialAsync("~/Views/Advertiser/AdvertiserFooterPartial.cshtml")

                <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/assets/js/off-canvas.js"></script>
    <script src="~/admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <!-- Scriptler vb. -->
    @RenderSection("scripts", required: false) 
  </body>
</html>

