<style>
	.top-forms span {
		font-size: 0.9em;
		color: black;
		letter-spacing: 1px;
	}

		.top-forms span a {
			color: black;
		}

	.top-forms a i {
		color: black;
	}

</style>

@* <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
	<span class="mx-lg-4 mx-md-2  mx-1">
		<a href="/Login/Index">
			<i class="fas fa-lock"></i> Giriş Yap
		</a>
	</span>
	<span>
		<a href="/Register/Index">
			<i class="far fa-user"></i> Kayıt Ol
		</a>
	</span>
</div> *@

<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    @if (User.Identity.IsAuthenticated)
    {
        <span>
            <a href="/Estate/EstateListByAdvertiser">
                <i class="fas fa-user"></i> Satıcı Sayfasına Git
            </a>
        </span>
    }
    else
    {
        <span class="mx-lg-4 mx-md-2  mx-1">
            <a href="/Login/Index">
                <i class="fas fa-lock"></i> Giriş Yap
            </a>
        </span>
        <span>
            <a href="/Register/Index">
                <i class="far fa-user"></i> Kayıt Ol
            </a>
        </span>
    }
</div>
