
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

    <style>
        .content {
            text-align: center;
        }
    </style>

    <br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    <div class="content">
        <h5>Google ile Başarılı Bir Şekilde Giriş Yaptınız</h5>
        <h3>Anasayfaya Gidebilirsiniz...</h3>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



