
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Advertiser_Layout.cshtml";
}

<h1>Mesajlar</h1>
<br/>
<a href="/Message/InBox" class="btn btn-gradient-warning">Gelen Mesaj Kutusunu Aç</a>
<a href="/Message/SendBox" class="btn btn-gradient-danger">Giden Mesaj Kutusunu Aç</a>

